.controls__buttons-wrapper {
    width: 100%;
}

.button {
    background-color: #040404;
    border-radius: 10px;
    border: none;
    color: white;
    padding: .6rem 1.3rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color .4s ease-out;
}

.button:hover {
    background-color: white;
    color: black;
}

.button--capture {
    background-color: #383838;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button--capture:hover {
    background-color: #969696;
}

.button__icon--not-recording {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: grey;
}
.button--capture:hover > .button__icon--not-recording {
    background-color: red;
}

.button--capture[recording] {
    background-color: #E04740;
}

.button--capture[recording] > .button__icon--not-recording {
    animation: slowBlink 2s infinite;
}

@keyframes slowBlink {
    0% {
        background-color: red;
    }

    50% {
        background-color: darkred;
    }

    100% {
        background-color: red;
    }
}