.equation__ui {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 45%;
}

.equation__shuffle {
    flex: 0 0 10%;
    cursor: pointer;
    transition: transform .2s;
}

.equation__shuffle:hover {
    transform: scale(1.2);
}

.equation {
    
	display: flex;
	margin: 20px;
    align-items: center;
    color: white;
    flex: 1;
}

.equation__input {
	width: 30px;
}

.equation__equals {
    margin: 0 10px;
}

.equation__expression {
    display: flex;
    align-items: center;
}

.equation__text {
    margin: 0;
}

.equation__button-wrapper {
    text-align: center;
}

.equation__coefficient-wrapper {
    position: relative;
    display: inline-block;
}

.equation__coefficient:hover ~ .equation__coefficient-inc,
.equation__coefficient:hover ~ .equation__coefficient-dec {
    opacity: 1;
}

.equation__coefficient-inc,
.equation__coefficient-dec {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    line-height: 0;
    font-size: 0.7em;
    opacity: 0;

    cursor: pointer;
    user-select: none;

    transition: all .4s;
}

.equation__coefficient-inc:hover,
.equation__coefficient-dec:hover {
    opacity: 1;
    font-weight: bold;
    font-size: .8em;
}

.equation__coefficient-inc {
    bottom: 100%;
}

.equation__coefficient-dec {
    top: 100%;
}

.equation__coefficient:hover > .equation__coefficient-inc,
.equation__coefficient:hover > .equation__coefficient-dec {
    opacity: 1;
}