.equation {
    position: absolute;
    bottom: 0;
	display: flex;
	margin: 20px;
    align-items: center;
    color: white;
}

.equation__input {
	width: 30px;
}

.equation__equals {
    margin: 0 10px;
}

.equation__expression {
    display: flex;
    align-items: center;
}

.equation__text {
    margin: 0;
}

.equation__button-wrapper {
    text-align: center;
}

.equation__coefficient-wrapper {
    position: relative;
}

.equation__coefficient {
    
}

.equation__coefficient-inc,
.equation__coefficient-dec {
    position: absolute;
    left: 50%;
    transform: translateX(-80%);
    font-style: normal;
    line-height: 0;
    font-size: 1.1rem;
    opacity: 0;
    cursor: pointer;
    transition: all .4s;
}

.equation__coefficient-inc:hover,
.equation__coefficient-dec:hover {
    font-weight: bold;
    font-size: 1.2rem;
}

.equation__coefficient-inc {
    bottom: 100%;
}

.equation__coefficient-dec {
    top: 100%;
}

.equation__coefficient:hover > .equation__coefficient-inc,
.equation__coefficient:hover > .equation__coefficient-dec {
    opacity: 1;
}