html, body {
	margin: 0;
	background-color: black;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	overflow: hidden;
}

p {
	display: inline;
	font-size: 2rem;
}

#canvas {
	display: block;
	width: 100vw;
	height: 100vh;
	background-color: black;
}