.menu {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 10px;
	border-radius: 10px;
	display: none;
    padding: 30px;
    transition: all 1s;
}

.menu__title {
	text-align: center;
	font-size: 2rem;
    margin-top: 0;
}

.menu__open {
    display: grid;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    place-items: center;
    transition: transform .2s ease-out;
}

.menu__open:hover {
    transform: scale(1.1);
}

.menu__open-icon {
	height: 50px;
	width: 50px;
    position: relative;
}

.menu__close-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.menu__close {
	position: absolute;
	font-size: 2rem;
	top: 10px;
	right: 10px;
    height: 30px;
    width: 30px;
	cursor: pointer;
    background-color: black;
    border-radius: 50%;
    transition: transform .3s;
}

.menu__close:hover {
    transform: scale(1.1);
}

.menu__close-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.ode-equation {
	display: flex;
	margin: 20px;
    align-items: center;
}

.ode-equation__input {
	width: 30px;
}

.ode-equation__equals {
    margin: 0 10px;
}

.ode-equation__expression {
    display: flex;
    align-items: center;
}

.ode-equation__text {
    margin: 0;
}

.ode-equation__button-wrapper {
    text-align: center;
}

.ode-control {
	text-align: center;
	margin-bottom: 20px;
}

.ode-control__field {
    display: flex;
}

.ode-control__field-label {
    flex: 0 0 40%;
    font-size: 1.2rem;
    font-weight: bold;
}

.ode-control__field-input {
    flex: 1;
}

.ode-control__particle-title {
    font-size: 1.8rem;
    margin-bottom: 0;
}